html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    height: 13vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.burger {
    margin-right: 35px;
    height: 70px;
    width: 70px;
    border: white 5px solid;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.steek {
    width: 70%;
    border: white 3px solid;
    border-radius: 10%;
}
.logo {
    font-size: 3em;
    color: white;

}
.fruits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.fruit {
    border: aqua 2px solid;
    border-radius: 3%;
    margin-top: 1vh;
}
.image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image1 {background-image: url("1.jpg");}
.image2 {background-image: url("2.jpg");}
.image3 {background-image: url("3.jpeg")}

@media only screen and (min-width:900px) {

    .fruits{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding-right: 10vw;
        padding-left: 10vw;
    }
    .fruit{
        width: 20%;
    }
    .navbar{
        padding-right: 10vw;
        padding-left: 10vw;
    }
    .burger{
        display: none;
    }